<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Available Variants: <%= @product.product_variants.count %>  </strong>



</p>
<% @product.product_variants.each do |variant|  %>
<p>
  

  <%= variant.color %>
  <%= variant.size %>


</p>

<% end %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
